* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board {
    width: 1336px;
    height: 768px;
    border: 1px solid #333;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

/* Sessão de imagens */

.mario {
    position: absolute;
    bottom: 40px;
    width: 150px;
}

.jump {
    animation: jump-mario-animation 500ms ease-out;
}

.pipe {
    position: absolute;
    bottom: 40px;
    width: 80px;
    animation: pipe-animation 2.5s linear infinite;
}

.chao {
    position: absolute;
    width: 500px;
    bottom: 0px;
    left: 0;
}

.chao-2 {
    position: absolute;
    width: 500px;
    bottom: 0px;
    left: 500px;
}

.chao-3 {
    position: absolute;
    width: 500px;
    bottom: 0px;
    left: 1000px;
}

.clouds {
    position: absolute;
    width: 700px;
    bottom: 60%;
    animation: clouds-animation 27s linear infinite;
}

.clouds-2 {
    position: absolute;
    width: 550px;
    bottom: 200px;
    animation: clouds-animation 17s linear infinite;
}

.logo-game {
    position: absolute;
    width: 150px;
    margin: 10px;
}

/* Sessão de keyframes */

@keyframes pipe-animation {
    from {
        right: -80px;
    }
    to {
        right: 100%;
    }
}

@keyframes jump-mario-animation {
    0% {
        bottom: 0;
    }
    40% {
        bottom: 190px;
    }
    50% {
        bottom: 190px;
    }
    60% {
        bottom: 190px;
    }
    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
            right: -600px;
    }
    to {
        right: 100%;
    }
}